<% if notice %><div class="alert alert-info" id="notice"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning" id="alert"><%= alert %></div><% end %>

<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We are contacting you to notify that your email id is being changed to  <%= @resource.unconfirmed_email %>. If you did not initiate this, please write back to us.</p>
<% else %>
  <p>We are contacting you to notify that your email id has been changed to <%= @resource.email %>. If you did not initiate this, please write back to us.</p>
<% end %>
