<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
	<%= link_to "SWIFTKART", '/', id: "logo" %>
	<nav>
	<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Home", home_index_path %></li>
	<li><%= link_to "Your Orders", orders_path %></li>
	<li><%= link_to "Add New Item", "items/new" %></li>
	<li>
		<%= link_to '#', class: "btn btn-dark" do %>
			<span class="glyphicon glyphicon-shopping-cart" alt='Shopping Cart'></span>
		<% end %>
	</li>
	</ul>
	</nav>
</div>
</header>